/**************************CONTACTS-FORM***************************/

.form-contacto {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #151a33;
    padding: 20px;
    border: 1px solid #2a2f52;
    border-radius: 8px;
    max-width: 500px;
    /*margin: 0 auto;*/
	margin: 0;
}

.form-contacto label {
    font-weight: bold;
}

.form-contacto input,
.form-contacto textarea {
    background-color: #0f1327;
    border: 1px solid #2a2f52;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
}

.btn-enviar {
    margin-top: 10px;
    padding: 12px;
    border: none;
    background-color: #ffe81f;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-enviar:hover {
    background-color: #fff;
    transform: scale(1.01);
}