/**********************GRID*********************/

.reparto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 20px;
  margin-top: 20px;
}


/************************FOTOS*******************/

.reparto-grid img {
  width: 100%;      
  height: auto;     
  display: block;   
  border-radius: 4px;
  margin-bottom: 8px;
}